__pycache__
[Ii]nputdata/
[Oo]utputData/
[Ll]ogs/
venv/
.idea/
[Ee]xperiemental/
*.vtk
/gui/
/dragen/Experimental/
build/
dist/
/gui_main.spec
/yourscript.spec
/gui_main.exe.lnk
/DRAGen.spec
/dragen/gui_tkinter/Icon.png
/dragen/gui_tkinter/Logo.ico
/trr_dragen_saveings
.ipynb_checkpoints/
dragen/.ipynb_checkpoints/
dragen/.ipynb_checkpoints
example
/dragen/DRAGen.spec
/Experimental/
/dragen/generation/test_roughness.py
/ExampleInput/recon2D_Drill1_1_62um_32pnts_trim400-900_x250z120_roughness.csv
