__pycache__
[Ii]nputdata/
[Oo]utputData/
[Ll]ogs/
venv/
.idea/
[Ee]xperiemental/
*.vtk
/gui/
/dragen/Experimental/
build/
dist/
/gui_main.spec
/yourscript.spec
/gui_main.exe.lnk
/DRAGen.spec
/dragen/gui_tkinter/Icon.png
/dragen/gui_tkinter/Logo.ico

.ipynb_checkpoints/
dragen/.ipynb_checkpoints/
dragen/.ipynb_checkpoints
example
/dragen/DRAGen.spec
