damask==3.0.0a8
geomloss==0.2.6
idna==3.6
lit==17.0.6
matplotlib==3.8.2
meshio==5.3.4
netCDF4==1.6.5
numpy==1.26.3
opencv-python-headless==4.9.0.80
pandas==2.1.4
PyQt5==5.15.10
pyvista==0.43.2
qhoptim==1.1.0
scikit-learn==1.4.0rc1
scipy==1.11.4
seaborn==0.13.1
tetgen==0.6.3
torch==2.1.2
tqdm==4.66.1
vtk==9.3.0
